/*.ERR
/.*.built
/.defs.mk
/.mypy_cache
/_REPO_UPDATED
/_psleng.github.io
/build
/builds.toml
/configs
/create-sdcardiGOS.sh
/debian-repos
/drivers
/images
/logs
/nohup.out
/psleng.github.io
/scripts
/ti-bdebstrap
/tools
/typescript
/vyos-build
